@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:wght@400;700&family=Roboto:wght@100&display=swap');

body{
    overflow-x:hidden;
    font-family: 'Montserrat', sans-serif;
}

h4{
    font-size: 18px;
}

p{
    font-size: 15px;
}

header{
    background-color: #ededed;
}


.buttonHeader{
    background-color: #80d0cd;
    border-radius: 18px;
    border-style: none;
    color: #fff;
    padding: 5px 12px 5px 12px;
}

.slider{
    background-color: #e9ecee;
    height: auto;
    width: 100%;
}

.bannerPrincipal{
    position: absolute;
    top: 21vw;
    margin-left: 40px;
}

#arrowDireita, #arrowEsquerda{
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 3vw;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    background-color: transparent;
    position: absolute;
}

#arrowEsquerda{
    bottom:31vw;
    left: 12vw;
}

#arrowDireita{
    bottom: 31vw;
    left: 7.5vw;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 16px;
}

.buttonBanner{
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}

.banner > div > p {
    color: #fff;
}

.tituloBanner{
    font-size: 40px;
    font-weight:bold ;
}

.subtituloBanner{
    font-size: 18px;
}

.linhaProdutos{
    display: flex;
    flex-direction: row;
    margin-top: 160px;
    margin-bottom: 100px;
}

.produtoAgilidade, .produtoNestle, .produtoNutricao, .produtoEspecializacao{
    display: flex;
    flex-direction: column;
    color:#fff;
    padding: 35px 15px 25px 15px;
}

.produtoAgilidade > img, .produtoNestle > img, .produtoNutricao > img, .produtoEspecializacao > img{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.produtoAgilidade > p, .produtoNestle > p, .produtoNutricao > p, .produtoEspecializacao > p{
   line-height: 20px;
}

.produtoAgilidade{
    background-color: #ff881c;
}
.produtoNestle{
    background-color: #ff912e;
}
.produtoNutricao{
    background-color: #ff9f48;
}
.produtoEspecializacao{
    background-color: #ffac60;
}



.fundo{
    background-image:url(assets/imgs/fundo.png);
    background-repeat: no-repeat;
}

.margin{
    margin: 220px 0 40px 0;
    color: #82817f;
}



.textoHaverim{
    color: #a5a5a5;
    font-size: 13px;
}
.textoDestaques{
    font-size: 26px;
    color: #82817f;
}

.textoConfira{
    color: #b5b5b5;
    font-size: 18px;
}

.underline{
    border-style: solid;
    border-color: #c67936;
    border-width: 1px;
    width: 8%;
    margin-bottom: 70px;
}

.dots{
    border-color: #f0f0f0;
    border-style: solid;
    border-width: 2px;
    width:20px;
    height:20px;
    border-radius:50%;
}

.slick-active .dots{
    background-color:  #f0f0f0;
}

.slick-dots{
    padding-right: 20px;
}

.slider-dots{
    z-index: 1;

}
.tela{
    background-color: #f8f4f1;
    position: absolute;
    margin: 50px 0 0 20px;
    z-index: 0;
    width: 170px;
    height: 350px;
}

