@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:wght@400;700&family=Roboto:wght@100&display=swap');

body{
    overflow-x:hidden;
    font-family: 'Montserrat', sans-serif;
}

h4{
    font-size: 18px;
}

p{
    font-size: 15px;
}

header{
    background-color: #ededed;
}


.buttonHeader{
    background-color: #80d0cd;
    border-radius: 18px;
    border-style: none;
    color: #fff;
    padding: 5px 12px 5px 12px;
}

.slider{
    background-color: #e9ecee;
    height: auto;
    width: 100%;
}

.bannerPrincipal{
    position: absolute;
    top: 21vw;
    margin-left: 40px;
}

#arrowDireita, #arrowEsquerda{
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 3vw;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    background-color: transparent;
    position: absolute;
}

#arrowEsquerda{
    bottom:31vw;
    left: 12vw;
}

#arrowDireita{
    bottom: 31vw;
    left: 7.5vw;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 16px;
}

.buttonBanner{
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}

.banner > div > p {
    color: #fff;
}

.tituloBanner{
    font-size: 40px;
    font-weight:bold ;
}

.subtituloBanner{
    font-size: 18px;
}

.linhaProdutos{
    display: flex;
    flex-direction: row;
    margin-top: 160px;
    margin-bottom: 100px;
}

.produtoAgilidade, .produtoNestle, .produtoNutricao, .produtoEspecializacao{
    display: flex;
    flex-direction: column;
    color:#fff;
    padding: 35px 15px 25px 15px;
}

.produtoAgilidade > img, .produtoNestle > img, .produtoNutricao > img, .produtoEspecializacao > img{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.produtoAgilidade > p, .produtoNestle > p, .produtoNutricao > p, .produtoEspecializacao > p{
   line-height: 20px;
}

.produtoAgilidade{
    background-color: #ff881c;
}
.produtoNestle{
    background-color: #ff912e;
}
.produtoNutricao{
    background-color: #ff9f48;
}
.produtoEspecializacao{
    background-color: #ffac60;
}



.fundo{
    background-image:url(assets/imgs/fundo.png);
    background-repeat: no-repeat;
}

.margin{
    margin: 220px 0 40px 0;
    color: #82817f;
}



.textoHaverim{
    color: #a5a5a5;
    font-size: 13px;
}
.textoDestaques{
    font-size: 26px;
    color: #82817f;
}

.textoConfira{
    color: #b5b5b5;
    font-size: 18px;
}

.underline{
    border-style: solid;
    border-color: #c67936;
    border-width: 1px;
    width: 8%;
    margin-bottom: 70px;
}

.dots{
    border-color: #f0f0f0;
    border-style: solid;
    border-width: 2px;
    width:20px;
    height:20px;
    border-radius:50%;
}

.slick-active .dots{
    background-color:  #f0f0f0;
}

.slick-dots{
    padding-right: 20px;
}

.slider-dots{
    z-index: 1;
}

.tela{
    background-color: #f8f4f1;
    position: absolute;
    margin: 50px 0 0 20px;
    z-index: 0;
    width: 170px;
    height: 350px;
}

.slider-produtos{
    margin-top: 150px;
}

.produtos{
    height: 100px;
    width: 100px;
}


/*SEÇÃO SOLICITE VISITA*/

.fundoVisita{
    margin-top: 200px;
    width: 100%;
    background-color: #fff7eb;
}

.imgSecaoVisita{
    width: 100%;
    object-fit: cover;
    object-position:right

}

.tituloForm{
    font-size: 25px;
    color: #82817f;
}
.descricaoForm{
    font-size: 17px;
    color: #b5b5b5;
    text-align: center;
}
.underlineForm{
    border-style: solid;
    border-color: #c67936;
    border-width: 1px;
    width: 15%;
    margin-bottom: 30px;
}

.inputs{
    width: 100%;
    padding: 9px;
    border-style: solid;
    border-radius: 10px;
    border-color: #e5e2e2;
    color: #000;
    margin-bottom: 15px;
    resize: none;
}

.textAreaForm{
    width: 100%;
    height: 170px;
    padding: 9px;
    border-style: solid;
    border-radius: 10px;
    border-color: #e5e2e2;
    color: #000;
    margin-bottom: 15px;
    resize: none;
}

.linha{
    display: flex;
    flex-direction: row;
}

input::placeholder{
    color: #c6c6c6;
}

textarea::placeholder{
    color: #c6c6c6;
}

.buttonsForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsForm span{
    border-style: solid;
    border-color: #f4e7d4;
    border-width: 1px;
    width: 10%;
    margin: 0 10px 0 10px;
}

.buttonForm{
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #dac29f;
    color: #dac29f;
    background-color: transparent;
}

/*SEÇÃO DICAS DE SAÚDE*/

.subTexto{
    margin-top: 130px;
    color: #b5b5b5;
}

.textoPrincipal{
    color: #82817f;
}

.underlineSecaoDicas{
    border-style: solid;
    border-color: #c67936;
    border-width: 1px;
    width: 4%;
    margin-bottom: 50px;
    margin-top: 10px;
}

.imgSecaoDicas{
    width: 100%;
    object-fit: cover;
}

.blocoLaranja{
    z-index: -1;
    right: 290px;
    background-color: #fa8a4f;
    position: absolute;
    width: 37%;
    height: 59%;
}

.tituloDicas{
    margin: 15px 0 5px 7px;

    color: #82817f;
    font-size: 25px;
}

.descricaoDicas{
    margin-left: 5px; 
    text-align: justify;
    color: #82817f;
    font-size: 13px;
}

.blocoEsquerda{
    width: 70%;
    height: 53.5%;
    background-color: #e8eded; 
}

.blocoCompletoEsquerda{
    position: absolute;
    background-color: #f7f9f9;
    width: 90%;
    height: 53.5%;
}

.blocoDireita{
    margin-top: 10px;
    width: 70%;
    height: 53.5%;
    background-color: #e8eded; 
}

.blocoCompletoDireita{
    margin-top: 10px;
    background-color: #f7f9f9;
    width: 90%;
    height: 53.5%;
}


/*SEÇÃO ATUAÇÃO*/
.backgroundMapa{
    margin-top: 120px;
    background-image: url(assets/imgs/fundoMapa.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.conteudo{
    margin: 50px;
}

.conteudo > h3{
    color: #fff;
    font-weight: bold;
    font-size: 33px;
}

.conteudo > h3:first-child{
    margin-top: 75px;
}

.conteudo > h4{
    margin: 25px 0 70px 0;
    color: #fff;
    font-size: 18px;
}

.buttonSecaoAtuacao{
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #c0bfbf;
    color: #9b9b9b;
    background-color: #fff;
}

/*SEÇÃO FOOTER*/

.underlineSecaoFooter{
    border-style: solid;
    border-color: #e87815;
    border-width: 1px;
    width: 20%;
    margin-top: 70px;
}

.imgLogoFooter{
    margin-bottom: 60px;
    
}

.imgSecaoFooter{
}

.textoFooter{
    font-size: 14px;
    color: #b3b3b3;
}

.textoFooterLaranja{
    color: #ff7329;
    font-size: 13px;
}

